build
src_gen
mini-som.sh
mini.sh
rebench.conf
user-dict.txt
/libs/*.jar
/libs/*.zip
/libs/jacoco
jacoco.exec
jacoco.xml
/report
*.json
nbproject
.idea
.pmd
newspeak
*.ns3
tools/kompos/node_modules
tools/kompos/out
traces
/tests/dym/old-results
/tests/dym/results
/tests/dym/expected-results
/tests/superinstructions/old-results
/tests/superinstructions/results
/tests/superinstructions/expected-results
npm-debug.log*
/.metadata
