[submodule "libs/truffle"]
	path = libs/truffle
	url = https://github.com/smarr/Truffle.git
	shallow = true
[submodule "libs/mx"]
	path = libs/mx
	url = https://github.com/smarr/mx.git
	shallow = true
