build
src_gen
mini-som.sh
mini.sh
rebench.conf
user-dict.txt
libs/*.jar
*.json
nbproject
.idea
.pmd
newspeak
*.ns3
tools/kompos/node_modules
tools/kompos/out
traces
/tests/dym/old-results
/tests/dym/results
/tests/dym/expected-results
