[submodule "libs/truffle"]
	path = libs/truffle
	url = https://github.com/smarr/Truffle.git
	shallow = false
[submodule "libs/mx"]
	path = libs/mx
	url = https://github.com/smarr/mx.git
	shallow = false
[submodule "libs/black-diamonds"]
	path = libs/black-diamonds
	url = https://github.com/SOM-st/black-diamonds.git
